.form__step {
}
.form__step-title {
}

.form__step-text {
}

.file__uploader {
    display: flex;
    max-width: 1120px;
    width: 100%;
}
.file__uploader-item {
}
.file__label {
    display: flex;
    width: 360px;
    height: 360px;
    justify-content: center;
    align-items: center;
}
.file__uploader-item-img {
}
.file__uploader-item-text {
}
.file__inputs {
}
.file__inputs-title {
}

.linkedin {
}

.twitter {
}

.input {
}