// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1560;
$containerPadding: 20;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
$fontMain: 'Author', sans-serif;
$mainColor: #051655;
$secondaryColor: #747887;
$brandColorRed: #EB3D35;
$whiteColor: #ffffff;
$lightGray: #E5E4E1;